@charset "UTF-8";

.bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 @media (min-width: 768px) {
   .bd-placeholder-img-lg {
     font-size: 3.5rem;
   }
 }
      
      
      /*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}






/* 검색 & 랭킹 */
    
.search_lists {
width: 100%;
text-align: center;
margin-left : 15px;
margin-right : 15px;
margin-top : 80px;
margin-bottom : 80px;

}

.search_list {
display:inline-block;


}


#input1{
	width: 350px;
	height:45px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 3px solid black;
	text-align: center;
	font-size:18px; 
}
#input2{
	width: 70px;
	height:45px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom : none;
	background-color: black;
	color : white;
	border-radius: 10px;
	
}










/* 메뉴카테고리 */



.menu_container {
    width: 800px;
    margin-top : 80px;
    left : 200px;
}

.main_lists {
    text-align: center;
}

.main_list {
    display: inline-block;
    width: 160px;
    height: 160px;
	border: 1px solid black;
    margin-bottom: 5px;
    
}


/*  */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
   }
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}



 
 /* 캐러셀 */
.carousel {
	margin-top:60px;
}


/* 메뉴카테고리 글자 */
.thumbnail{
	color:black;
}

.row{
	/* padding-left:230px;
	padding-right:230px; */
	padding-top:20px;
	position : relative;
	max-width:1020px;
	margin: 0 auto;
	
}

.row div{
	margin-top:10px;
	margin-bottom:10px;
}


.logContainer{
	margin-right:20px;
}

.dropdown{
	margin-right:20px;
}

.orderList{
	margin-right:30px;
}



/* nav && 검색 추가 */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
      
      
      
      
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* 위치 css */

#headerLocation{
	color:black;
	font-size : 18px;
}















