@charset "UTF-8";

/* .myPageSidebars {
	float: left;
} */

#bodyContainer {
 	height: auto;
	width: 100%;
	display: block;
}

#myPageContent {
	height: auto;
	width: 70%;
	display: block;
	background-color: tomato;
	padding : 6px;
	margin: 0 auto;	
	margin-left: 350px;
}
